.button-add{
    color: #63759F;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    border: 1px solid #63759F;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    & > span {
      font-size: 1rem;
    }
  }
}
