.lens-view {
  width: 80%;
  margin: auto;
  min-height:85vh;
  position: relative;

  .color-red{
    color:red;
  }

  .product-list {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 2rem;
    span.lastpiece {
    font-size: 0.9rem;
    color: red;
    }
    & > div {
      margin: 1rem 1rem;
    }
    .button-style {
      background-color: #5f729d;
    }
    .card-title {
      font-weight: bold;
      margin-bottom: 0;
      font-size: 1.5rem;
      color: #4d4d4d;
    }
    .card-subtitle {
      font-weight: normal;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .card-text{
      font-size: 1rem;
      margin: 0.5rem 0;
    }
    .bolder{
      font-weight: bolder;
    }
    .footer-card {
      display: flex;
      align-self: center;
      margin: 1rem 0;

      & > div {
        width: 50%;
      }
      & :nth-child(n + 1) {
        text-align: left;
      }
      & :nth-child(n + 2) {
        text-align: right;
      }
      .select-form {
        & > select {
          border-radius: 0.3rem;
          background-color: white;
          height: 100%;
          padding: 0.2rem 0;
        }
      }
    }
  }
}

//responsive

@media only screen and (max-width: 1919px) {
  .lens-view{
    .product-list{
      display: flex;
      flex-wrap: wrap;
      .card{
        max-width: 30%;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .lens-view{
    .product-list{
      display: flex;
      flex-wrap: wrap;
      .card{
        max-width: 40%;
      }
    }
  }
}

@media only screen and (max-width: 868px) {
  .lens-view{
    .product-list{
      display: flex;
      flex-wrap: wrap;
      .card{
        max-width: 100%;
      }
    }
  }
}

