.subheader {
  display: flex;
  color: #4d4d4d;
  border-bottom: 0.2rem solid #b3b3b3;
  padding: 0.5rem 0;
  align-items: center;
  & > div {
    width: 50%;
  }
  & div:nth-child(n + 1) {
    text-align: left;
    font-size: 1.75rem;
    font-weight: bold;
  }
  & div:nth-child(n + 2) {
    text-align: right;
    font-size: 1rem;
    font-weight: normal;
  }
}

@media only screen and (max-width: 1200px) {
  .subheader {
    & div:nth-child(n + 1) {
      font-size: 1.4rem;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .subheader {
    & div:nth-child(n + 1) {
      font-size: 1rem;
    }
  }
}
