.header-title{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    padding: 1.5vh 0;
    height: 7vh;
}

//responsive

@media only screen and (max-width: 1280px) {
  .header-title{
    font-size: 2.3rem;
  }
}

@media only screen and (max-width: 868px) {
  .header-title{
    font-size: 2rem;
  }
}
