.footer{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid black;
  .footer-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    & :nth-child(n+1){
      margin: auto 1rem;
    }
  }
  & > span {
    font-size: 1.2rem;
    color: #4d4d4d;
  }
  & > div {
    padding: 0.5rem;
  }
}
